{% from "_partials/chip.html" import cell_content %}
{# Variablen-Defaults damit das Partial sowohl aus matrix.html als auch aus dem Copy-Endpoint nutzbar ist #}
{% set _has_assignment = a is not none and a is defined and a %}
{% set _is_school = is_school if is_school is defined else false %}
{% set _oob = oob if oob is defined else false %}
{% set _is_abteilung = _has_assignment and a.typ.value == 'ABTEILUNG' %}
{% set _bestaetigung = (a.bestaetigung if a.bestaetigung else 'offen') if _is_abteilung else none %}
<td id="cell-{{ trainee_id }}-{{ kw }}-{{ jahr }}"
    class="matrix-cell cell-clickable{% if is_conflict %} mc-conflict{% endif %}{% if _is_abteilung %} mc-confirm-{{ _bestaetigung }}{% endif %}"
    data-trainee="{{ trainee_id }}"
    data-kw="{{ kw }}"
    data-jahr="{{ jahr }}"
    data-occupied="{{ '1' if (_has_assignment or _is_school) else '0' }}"
    {% if _has_assignment %}draggable="true"{% endif %}
    {% if _oob %}hx-swap-oob="true"{% endif %}>
  {{ cell_content(a, dept_colors, is_school if is_school is defined else none) }}
</td>
