{#
  Read-only matrix partial.
  Context:
    weeks        – list of {kw, jahr, monday, is_today}
    trainees     – list of Trainee objects
    cell_map     – dict  trainee_id -> {"kw,jahr": Assignment}
    school_weeks – set of "kw,jahr"
    depts        – dict  dept_id -> Department
    dept_colors  – dict  dept_id -> {bg, fg, code, name}
    highlight_id – int|None  (row gets is-self + "du"-tag)
#}
{% from "_partials/chip.html" import cell_content %}
<div class="matrix-scroll">
  <table class="matrix-table">
    <thead>
      <tr>
        <th class="matrix-th-name">Trainee</th>
        {% for w in weeks %}
        <th class="matrix-th-kw{% if w.is_today %} is-today{% endif %}"
            title="KW {{ w.kw }} / {{ w.jahr }} – ab Mo {{ w.monday.strftime('%d.%m.%Y') }}">
          <span class="th-kw-num">{{ w.kw }}</span>
          <span class="th-kw-date">{{ w.monday.strftime('%d.%m.') }}</span>
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for t in trainees %}
      {% set t_cells = cell_map.get(t.id, {}) %}
      <tr class="{{ 'is-self' if t.id == highlight_id else '' }}">
        <td class="matrix-td-name">
          {{ t.nachname }}, {{ t.vorname }}
          {% if t.id == highlight_id %}<span class="self-tag">du</span>{% endif %}
        </td>
        {% for w in weeks %}
        {% set cell_key = w.kw ~ "," ~ w.jahr %}
        {% set a = t_cells.get(cell_key) %}
        {% set is_school = cell_key in school_weeks %}
        <td class="matrix-cell{% if w.is_today %} mc-today{% endif %}">
          {{ cell_content(a, dept_colors, school_weeks.get(cell_key) if not a else None) }}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
